.box-round-blue{
    background-color:#cbe8fa;
    border-radius: 15px;    
}

.box-round-white{
    height: 3rem;
    background-color:#ffffff;
    border-radius: 10px;  
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

.navbar a{
    color: rgb(255, 255, 255);
}

.blue-background {
    background-color:#1187d0;
}

.white {
    color:#ffffff;
}

.box-full{
    width: 100%;
    background-color: #ffffff;
    margin: 0;
}

.full-width{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}