{% extends "layout.html" %}

{% block title %}
    CREATE PARAMETERS
{% endblock %}

{% block main %}

    <form action="/newtable" method="POST">
        {% for i in range(column_number) %}
            <label for="column {{ loop.index0 }}">Enter the name of the column</label>
            <input type="text" name="column {{ loop.index0 }}">
            <label for="{{ loop.index0 }}">Choose the column datatype</label>            
                <select name="{{ loop.index0 }}">
                    {% for i in datatypes %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            <br>            
        {% endfor %}
        <input type="hidden" name="tablename" value="{{ tablename }}">
        <input type="hidden" name="column_number" value="{{ column_number }}">
        <input type="Submit" value="Submit">
    </form>


{% endblock %}