{% extends "layout.html" %}

{% block title %}
    Table
{% endblock %}

{% block main %} 

<div class="d-flex align-items-center">
    <div class="container text-center">        
        Add row to table <br>
        <div class="row">
            <table>
                <form action="/add" method="post">
                    {% for column in column_names %}
                        <div class="col">                        
                            <input type="text" name="{{ loop.index0 }}">       
                        </div>
                    {% endfor %}
                    <input type="hidden" name="table" value="{{ tablename }}">
                    <input type="hidden" name="column" value="{{ column_names }}">
                    <input type="submit" value="Add">
                </form>

            </table>
        </div>
    </div>
</div>


<table>    
    <thead>
        <tr> 
            {% for column in column_names %}           
                <th>{{ column }}</th>
            {% endfor %}
        </tr>           
    </thead>
    
    <tbody>
        {% for tpl in table_shown %}
            <form action="/delete" method="post">
                <tr>                
                    {% for lst in tpl %}
                        <td>{{ lst }}</td>                    
                    {% endfor %}                      
                    <td>
                        <input type="submit" value="Delete Row">                        
                        <input type="hidden" name="table" value="{{ tablename }}">
                        <input type="hidden" name="rowid" value="{{ table_rowid[loop.index0] }}"
                    </td>                                                                                        
                </tr>
            </form>
        {% endfor %} 
                                      
    </tbody>
</table>

{% endblock %}