{% extends "layout.html" %}

{% block title %}
    View
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Table Name</th>
            </tr>
        </thead>

            <tbody>
                {% for name in tables %}                
                <tr>                                               
                    <td name="table">
                        {{ name[0] }}
                        <a href="{{ url_for('tableview', tablename=name[0]) }}" class="btn btn-primary" type="submit">Open</button> 
                    </td>                                              
                </tr>                
                {% endfor %}                
            </tbody>
    </table>

{% endblock %}